<%- include("partials/header") %>
<h1>This is the blog page</h1>

<% blogs.forEach(function(blog){ %> 

    <div><%= blog.title %> </div>
    <img src="<%= blog.image %>">
    <span><%= blog.created %></span>
    <p><%= blog.body %></p>


<% }); %>

<%- include("partials/footer") %>